
<body>
<div class="wrapper">
  <div class="container">
    <p>Sudoku Solution!</p>
    <%= form_tag(home_answer_path) do %>
      <table class="cells" border="3" >
        <% for i in 1..9 do %>
          <% if i==3 or i==6 %>
            <tr class="bottom-border">
          <% else %>
            <tr>
          <% end %>
          <% for j in 1..9 do %>
            <% ans = @array[i-1][j-1][0]%>
            <% if j==3 or j==6 %>
              <td class="right-border"><input type="text"  maxlength="1" name="nums[<%=i%>][]" value="<%=ans%>" class="cell" id= <%= (10*i+j).to_s %>></td>
            <% else %>
              <td><input type="text"  maxlength="1" name="nums[<%=i%>][]" value="<%=ans%>" class="cell" id= <%= (10*i+j).to_s %>></td>
            <% end %>
          <% end %>
          </tr>
        <% end %>
      </table>
    <%= submit_tag "Solve!", id: "answer" %>

    <% end %>
    <%= button_to "Reset", home_home_path, method: :get, id:"reset" %>
  </div>
</div>
</body>
